<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Skims Test</title>
    <script></script>
    <script integrity="sha256-123"></script>
    <script src=""></script>
    <script src="https://bam-cell.nr-data.net/thing.js"></script>
    <script src="https://consent.cookiebot.com/thing.js"></script>
    <script src="https://consentcdn.cookiebot.com/thing.js"></script>
    <script src="https://js-agent.newrelic.com/thing.js"></script>
    <script src="https://safe.tld/app-bundle.min.js"></script>
    <script src="https://static.cloudflareinsights.com/beacon.min.js"></script>
  </head>
</html>
