set -o errexit
set -o nounset

echo ---
export CI_COMMIT_REF_NAME="$(git rev-parse --abbrev-ref HEAD)"
echo CI_COMMIT_REF_NAME="${CI_COMMIT_REF_NAME}"
export CI_COMMIT_MESSAGE="$(git log -1 --pretty=format:%B | tr -d '\n')"
echo CI_COMMIT_MESSAGE="${CI_COMMIT_MESSAGE}"

echo Setting git hooksPath to .githooks
git config core.hooksPath .githooks

if test -e .envrc.config; then
  echo ---
  echo Sourcing .envrc.config
  source .envrc.config
fi

if test -z "${OKTA_EMAIL:-}"; then
  echo ---
  echo In order for this script to log you into Okta
  echo we need you to export the following environment variables
  echo either at ~/.bashrc or: "${PWD}/.envrc.config"
  echo
  echo "  export OKTA_EMAIL='<username>@fluidattacks.com'"
  echo "  export OKTA_PASS='' # Optional, your password"
  echo
  echo The .envrc.config file is in the .gitignore and SHOULD not be commited to Git
  echo
  exit 1
fi

if ! test -e ~/.cache/makes/out-common-utils-aws-okta-processor/template; then
  m . /common/utils/aws-okta-processor
fi

echo ---
echo Signing in as "${OKTA_EMAIL}"
export AWS_DEFAULT_REGION=us-east-1
source ~/.cache/makes/out-common-utils-aws-okta-processor/template
source <(
  aws-okta-processor \
    authenticate \
    --application https://fluidattacks.okta.com/home/amazon_aws/0oa9ahz3rfx1SpStS357/272 \
    --duration 32400 \
    --environment \
    --no-aws-cache \
    --organization fluidattacks.okta.com \
    --pass "${OKTA_PASS:-}" \
    --silent \
    --user "${OKTA_EMAIL}"
)

echo ---
echo Select the development environment you want to load:
echo
echo Once the environment has finished loading,
echo please close your code editor if it is open,
echo and then open it by invoking it from this terminal.
echo
echo You can reload the environment at any moment with: $ direnv allow
echo
PS3="Selection: "
envs=(
  airs
  common
  docs
  integratesBack
  integratesForces
  integratesStreams
  melts
  skims
  sorts
  none
)

select output in "${envs[@]}"; do
  if test "${output}" = "none"; then
    break
  fi
  if test -n "${output}"; then
    m . "/dev/common"
    source "${HOME}/.cache/makes/out-dev-common/template"
    if test "${output}" != common; then
      m . "/dev/${output}"
      source "${HOME}/.cache/makes/out-dev-${output}/template"
    fi
    break
  fi

  echo Unrecognized option, please enter a valid number
done
