config/**
deploy/**
lint/**
node_modules/**
out/**
src/**
test/**
vsc-extension-quickstart.md
webpack/**
webview-ui/**
**/tsconfig.json
**/*.map
**/*.ts
**/.eslintrc.json
.eslintignore
.gitignore
.graphqlrc.json
.vscode-test/**
.vscode/**
