{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_share, go_to_button %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {{ banner_share('Confirm Deletion') }}
      <div class="main-content">
        <h2>Hello {{ name }},</h2>
        <p>
          Just a moment ago, you chose to remove your
          Fluid Attacks' Platform account. Clicking on <strong>Confirm deletion</strong>
          will complete the process. You have seven calendar days to confirm.
          If you do not do it before the deadline,
          you will need to repeat the procedure from the platform.
        </p>
        {{ go_to_button('Confirm deletion', confirm_deletion_url, 'primary-button') }}
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
