{% extends "layouts/common.html" %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      <div class="main-content">
        <h2 style="display: flex; align-items: center; justify-content: center">
          Hi, you have a new lead from the 'contact sale' form of the free trial
          onboarding.
        </h2>
        <p>
          The following user is interested in learning more about all the benefits
          of getting the Squad plan.
        </p>
        <div class="data-container">
          <p>
            <strong>Email:</strong><br/>{{ lead_email }}<br/><br/>
            <strong>Name:</strong><br/>{{ lead_name }}<br/><br/>
            <strong>Phone:</strong><br/>{{ national_number }}
          </p>
        </div>
      </div>
      {% include 'layouts/components/footer.html' %}
    </div>
{% endblock %}
