{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_plane %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {{ banner_plane('API Deprecation Notice') }}
      <div class="main-content">
        <h2>Hello {{ name }},</h2>
        <p>
          The following API elements are nearing the end of
          their six-month lifespan to become deprecated.
          Therefore, we will <strong>remove</strong> them from our API next month:
        </p>
        <div class="data-container">
        {% for object, fields in deprecations.items() %}
          <strong>From {{ object }}:</strong><br/>{{ fields }}<br/><br/>
        {% endfor %}
        </div>
        <p>
          If your product currently consumes any of the above API elements
          in its queries, we encourage you to
          <strong>update them before</strong>
          next month’s planned removal.
          For more information, you can check the
          <a href="https://app.fluidattacks.com/api"
            target="_blank" rel="noopener noreferrer"
          >
            Fluid Attacks' Platform API docs</a>.
        </p>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
