{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import go_to_button %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      <div class="main-content">
        <h2>{{ name }},</h2>
        <p>
          Remediating vulnerabilities is the main practical result
          we help you achieve. It is not enough reporting vulnerabilities;
          organizations MUST manage their risks, and fixing security weaknesses
          is the most straightforward way to do it.
        </p>
        <p>
          We suggest our customers use the <strong>DevSecOps Agent</strong>,
          an agent that helps you prevent production releases
          with open vulnerabilities. The agent operates within your CI,
          breaking the build when open vulnerabilities
          are still present in your application.
        </p>
        <div class="mb1">
          <img alt="devsecops image" class="w-100"
            src="https://res.cloudinary.com/fluid-attacks/image/upload/v1663202679/notifications/devsecops-agent/devsecops-agent.gif"
            style="display:block;">
        </div>
        <p>
          Visit our documentation
          <a href="https://docs.fluidattacks.com/machine/agent" rel="noopener noreferrer" target="_blank">here</a>
          to learn how to install the agent on your CI.
        </p>
        <p>
          <strong>Already using the DevSecOps Agent? Great!</strong>
        </p>
        {{ go_to_button('Go to DevSecOps', devsecops_link, 'primary-button') }}
        <p class="mt1">
          In our
          <a href="https://try.fluidattacks.tech/state-of-attacks-2022/" rel="noopener noreferrer" target="_blank">State of Attacks 2022</a>,
          you can find that organizations
          using the DevSecOps Agent reduce their time
          to remediate by almost 30%.
        </p>
        <div class="mb1">
          <img alt="report image" class="w-100"
            src="https://res.cloudinary.com/fluid-attacks/image/upload/v1663265217/notifications/devsecops-agent/soa-2022.png"
            style="display:block;">
        </div>
        <p class="mt1">
          To know more, visit our documentation
          <a href="https://docs.fluidattacks.com" rel="noopener noreferrer" target="_blank">here</a>.
        </p>
        <p class="mt1">
          <strong>Questions or comments?</strong> You can always contact us at
          <a href="mailto:help@fluidattacks.com">help@fluidattacks.com</a>
        </p>
        <p>Thanks for trying Continuous Hacking!</p>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
