{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_share %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {{ banner_share('Environment Alert') }}
      <div class="main-content">
        <h2>Hello {{ name }},</h2>
        <p>
          An environment in the group <strong>{{ group_name }}</strong>
          has been modified by
          <strong><a
            href="mailto:{{ responsible }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ responsible -}}
          </a></strong>:
        </p>
        <div class="data-container">
          <p>
            <strong>Date:</strong><br/>{{ report_date }}<br/><br/>
            <strong>Git root:</strong><br/>{{ git_root }}
            {% if urls_deleted and reason %}
            <br/><br/>
            <strong>Reason:</strong><br/>{{ reason }}.
            {% endif %}
            {% if urls_added %}
            <br/><br/>
            <strong>URLs added:</strong>
            <ul class="big-list-icon">
              {% for url_added in urls_added %}
              <li>
                <a href="{{ url_added }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {{ url_added }}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
            {% if urls_deleted %}
          </p>
          <p>
            <br/>
            <strong>URLs deleted:</strong>
            <ul class="big-list-icon">
              {% for url_deleted in urls_deleted %}
              <li>
                <a href="{{ url_deleted }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {{ url_deleted }}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </p>
        </div>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
