{% extends "layouts/common.html" %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      <div class="main-content">
        <h2>Welcome to Fluid Attacks, {{ name }}</h2>
        <p>
          Thanks for signing up. We’re delighted to have you onboard!
          You’re now part of hundreds of people continuously hacking their
          applications and systems with Fluid Attacks.
        </p>
        <p>
          In this free trial active until {{ expires_date }},
          you’ll enjoy all the features of our Continuous Hacking Machine Plan.
          Shortly, you’ll be able to review the first vulnerabilities found
          in your applications.
        </p>
        <p>
          In the meantime, we invite you to explore
          our Fluid Attacks' Platform.
          Click on the links below to get more out of your free trial:
        </p>
        <div class="data-container">
          <ul class="big-list-icon">
            <li>
              <a href="{{ stakeholders_link }}" rel="noopener noreferrer" target="_blank">
                Invite co-workers to your group
              </a>
            </li>
            <li>
              <a href="{{ scope_link }}" rel="noopener noreferrer" target="_blank">
                Add more code repositories
              </a>
            </li>
            <li>
              <a href="{{ policies_link }}" rel="noopener noreferrer" target="_blank">
                Set vulnerability policies
              </a>
            </li>
          </ul>
        </div>
        <p>
          <strong>Questions or comments?</strong> You can always contact us at
          <a href="mailto:help@fluidattacks.com">help@fluidattacks.com</a>.
        </p>
        <p>We hope you enjoy your 21-day Free Trial!</p>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
