{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_share, go_to_button %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {{ banner_share('Report Available') }}
      <div class="main-content">
        <h2>Hello {{ name }},</h2>
        <p>
          You can download the <u>{{ filetype }} Report</u> you requested on group
          <strong>{{ group_name }}</strong> on {{ date }} at {{ time }}
          by clicking the link below.
          The link will be <strong>available for the next hour</strong>.
        </p>
        {{ go_to_button('Download Report', filelink, 'primary-button') }}
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
