{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import go_to_button %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      <div class="main-content">
        <h2>{{ name }},</h2>
        <p>
          In the past few weeks, you have been using our
          <strong>Continuous Hacking Machine Plan</strong>.
          We hope you and your organization are enjoying the benefits
          of our solution. Nonetheless,
          we know there might be room for improvements.
        </p>
        <p>
          We value the feedback from our users and we would like
          to invite you to schedule a 20-min session:
        </p>
        {{ go_to_button('Schedule a Customer Success Session', 'https://go.fluidattacks.tech/free-trial-feedback', 'primary-button') }}
        <p class="mt1">
          <strong>Questions or comments?</strong> You can always contact us at
          <a href="mailto:help@fluidattacks.com">help@fluidattacks.com</a>
        </p>
        <p>Thanks for trying Machine Plan!</p>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
