{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_share %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {{ banner_share('Missing Registered Environments') }}
      <div class="main-content">
        <h2>Hello {{ name }},</h2>
        <p>
          You have not yet registered any environment in the group
          <strong>{{ group }}</strong>, created <strong>{{ group_date }}
          {% if group_date == 1 %}week{% else %}weeks{% endif %} ago</strong>.
          If you are not sure how to register the environments, please
          <a
            href="https://docs.fluidattacks.com/machine/platform/groups/scope/roots/#managing-git-root-environments"
            target="_blank"
            rel="noopener noreferrer"
          >
            check here</a>.
        </p>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
