{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_share %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {{ banner_share('Progress Report') }}
      <div class="main-content">
        <h2>Hi {{ responsible }},</h2>
        <p>Below is a short report of your progress over the previous day:</p>
        <div class="data-container">
          <p>
            <strong>Hacking details:</strong>
            <ul class="big-list-icon">
              <li>
                <strong>Enumerated:</strong> {{ count_var_report["enumerated_inputs"]["count"] }} inputs
                ({{ count_var_report["enumerated_inputs"]["variation"] }}),
                {{ count_var_report["enumerated_ports"]["count"] }} ports
                ({{ count_var_report["enumerated_ports"]["variation"] }}).
                <br />
              </li>
              <li>
                <strong>Verified:</strong> {{ count_var_report["verified_inputs"]["count"] }} inputs
                ({{ count_var_report["verified_inputs"]["variation"] }}),
                {{ count_var_report["verified_ports"]["count"] }} ports
                ({{ count_var_report["verified_ports"]["variation"] }}),
                {{ "%.1f"|format(count_var_report["loc"]["count"] / 1000) }}k lines
                ({{ count_var_report["loc"]["variation"] }}).
                <br />
              </li>
              <li>
                <strong>Reattacked:</strong> {{ count_var_report["reattacked"]["count"] }} locations
                ({{ count_var_report["reattacked"]["variation"] }}).
                <br />
              </li>
              <li>
                <strong>Submitted:</strong> {{ count_var_report["submitted"]["count"] }} locations
                ({{ count_var_report["submitted"]["variation"] }}).
                <br />
              </li>
              <li>
                <strong>Released:</strong> {{ count_var_report["released"]["count"] }} locations
                ({{ count_var_report["released"]["variation"] }},
                max: {{ max_cvss }} severity).
              </li>
              <li>
                <strong>Priority average:</strong>
                {{ "%d"|format(count_var_report["sorts_verified_lines_priority_avg"]["count"]) }}%
                ({{ count_var_report["sorts_verified_lines_priority_avg"]["variation"] }}).
                <br />
              </li>
            </ul>
          </p>
          <p>
            {% if groups %}
            <br />
            <strong>Groups details:</strong>
            <ul class="big-list-icon">
              {% for group, fields in groups.items() %}
              <li>
                <strong>{{ group }}:</strong>
                ({{ fields["subscription"] }})
                {{ fields["enumerated_inputs"] }} inputs enumerated,
                {{ fields["verified_inputs"] }} inputs verified,
                {{ fields["enumerated_ports"] }} ports enumerated,
                {{ fields["verified_ports"] }} ports verified,
                {{ "%.1f"|format(fields["loc"] / 1000) }}k lines verified,
                {{ fields["reattacked"] }} reattacked,
                {{ fields["submitted"] }} submitted,
                {{ fields["released"] }} released,
                {{ "%.f"|format(fields["sorts_verified_lines_priority_avg"]) }}% priority average.
                <br />
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </p>
        </div>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
