{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_share %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {{ banner_share('Portfolio Alert') }}
      <div class="main-content">
        <h2>Hello {{ name }},</h2>
        <p>
          Portfolios have been
          {% if is_added %} added to {% else %} deleted from {% endif %}
          the group <strong>{{ group_name }}</strong>:
        </p>
        <div class="data-container">
          <p>
            <strong>Date:</strong><br/>{{ report_date }}<br/><br/>
            <strong>Portfolios:</strong><br/>{{ portfolios }}
          </p>
        </div>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
