{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_share %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {{ banner_share('Root Added') }}
      <div class="main-content">
        <h2>Hello {{ name }},</h2>
        <p>
          The root <strong>{{ root_nickname }}</strong> has been added by
          <strong><a
            href="mailto:{{ responsible }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ responsible -}}
          </a></strong>
          to the group <strong>{{ group }}</strong>:
        </p>
        <div class="data-container">
          <p>
            <strong>Date:</strong><br/>{{ date }}<br/><br/>
            <strong>Long term branch:</strong><br/>{{ branch }}<br/><br/>
            <strong>Pair environment:</strong><br/>{{ environment }}<br/><br/>
            <strong>URL:</strong><br/>
            <a
              href="{{ root_url }}"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ root_url }}
            </a><br/><br/>
            <strong>VPN required:</strong><br/>{{ vpn_required }}<br/><br/>
            <strong>Health Check requested:</strong><br/>{{ health_check }}<br/><br/>
            <strong>SLA:</strong><br/>{{ sla }}
          </p>
        </div>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
