{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_share, go_to_button %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {{ banner_share('Root Updated') }}
      <div class="main-content">
        <h2>Hello {{ name }},</h2>
        <p>
          A new credential is available in the root with the nickname
          <strong>{{ root_nickname }}</strong> from the group
          <strong>{{ group }}</strong> by <strong>{{ responsible }}</strong>
          as {{ user_role }}.
        </p>
        <p>
          For more information visit:
        </p>
        {{ go_to_button('Scope section', scope_link, 'primary-button') }}
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
