{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import go_to_button %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      <div class="main-content">
        <h2>{{ name }},</h2>
        <p>
          Your <strong>Continuous Hacking</strong> Machine Plan free trial ends
          in 3 days ({{ expires_date }}).
          We hope you have had a great experience so far,
          and we look forward in assisting you in anything you need.
        </p>
        <p>
          <strong>What happens when the trial expires?</strong>
        </p>
        <p>
          The security of our users' information comes first.
          Below, you can find what will happen to the information
          that is in our <strong>Fluid Attacks' Platform</strong>
          after the trial ends:
        </p>
        <div class="data-container">
          <ul class="big-list-icon">
            <li>
              <strong>
                You want to subscribe to our continuous hacking solution:
              </strong>
              we would preserve the information in the platform.
              To subscribe, talk to one of our sales representatives:
            </li>
            {{
              go_to_button(
              'Contact sales',
              'mailto:help@fluidattacks.com?subject=I want to subscribe to Continuous Hacking&body=Please, contact me to setup the subscription',
              'primary-button'
              )
            }}
            <br/>
            <li>
              <strong>You don’t want to subscribe at the moment:</strong>
              your information (account, groups, vulnerabilities, and more)
              will be <u>securely removed from our
                <strong>
                  Fluid Attacks' Platform
                </strong>
              within one day</u>.
              If you want to preserve the vulnerabilities information,
              remember to download the reports you need.
            </li>
            {{ go_to_button('Go to Vulnerabilities', vulnerabilities_link, 'primary-button') }}
          </ul>
        </div>
        <p class="mt1">
          We want you to keep using our Continuous Hacking solution,
          so you can better manage the security of your applications and systems.
        </p>
        <p>
          <strong>Questions or comments?</strong> You can always contact us at
          <a href="mailto:help@fluidattacks.com">help@fluidattacks.com</a>
        </p>
        <p>Enjoy Continuous Hacking!</p>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
