{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_share %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {{ banner_share('Services Updated') }}
      <div class="main-content">
        <h2>Hello {{ name }},</h2>
        <p>
          Services in the group <strong>{{ group_name }}</strong>
          have been updated by
          <strong><a
            href="mailto:{{ responsible }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ responsible -}}
          </a></strong>:
        </p>
        <div class="data-container">
          <p>
            <strong>Date:</strong><br/>{{ report_date }}<br/>
            {% for key, value in group_changes.items() %}
              {% if key not in ["Name", "ARM"] %}
            <br/>
            <strong>{{ key }}:</strong><br/>
                {% if key in ["Comments", "Reason"] %}
            {{ value }}<br/>
                {% else %}
                  {% if value["from"] == value["to"] %}
            {{ value["to"] }}<br/>
                  {% else %}
            <em>from</em> {{ value["from"] }}
            <em>to</em> {{ value["to"] }}<br/>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
