{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_share %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {{ banner_share('Information Updated') }}
      <div class="main-content">
        <h2>Hello {{ name }},</h2>
        <p>
          Information in the group <strong>{{ group_name }}</strong>
          has been modified by
          <strong><a
            href="mailto:{{ responsible }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ responsible -}}
          </a></strong>:
        </p>
        <div class="data-container">
          <p>
            <strong>Date:</strong><br/>{{ report_date }}<br/>
            {%- for key, value in group_changes.items() -%}
            <br/>
            <strong>{{ key }}:</strong><br/>
            {% if value["from"] == value["to"] %}
            {{ value["to"] }}
            {% else %}
              <em>from</em>
              {% if key in ["Sprint Length"] %}
                {{ value["from"].split()[0] }}
              {% else %}
                {{ value["from"] }}
              {% endif %}
              <em>to</em> {{ value["to"] }}
            {% endif %}
            <br/>
            {% endfor %}
          </p>
        </div>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
