{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_share %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {{ banner_share('Root Updated') }}
      <div class="main-content">
        <h2>Hello {{ name }},</h2>
        <p>
          The root with the nickname <strong>{{ root_nickname }}</strong>
          in the group <strong>{{ group_name }}</strong> has been updated by
          <strong><a
            href="mailto:{{ responsible }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ responsible -}}
          </a></strong>:
        </p>
        <div class="data-container">
          {% for key, value in new_root_content.items() %}
          <br/>
            {% if key in key_format %}
          <strong>{{ key_format[key] }}:</strong>
            {% else %}
          <strong>
            {{ key.replace('_', ' ').capitalize().replace('vpn', 'of VPN') }}:
          </strong>
            {% endif %}
          <br/>
            {% if key in ["url", "gitignore"]%}
              <div class="row">
                <div class="column left">
                  <em>from</em>
                </div>
                <div class="column right">
                  {% if key == "url" %}
                  <a
                    href="{{ old_state[key] }}"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {{ old_state[key] }}
                  </a>
                  {% else %}
                    {{ old_state[key] }}
                  {% endif %}
                </div>
              </div>
              <div class="row" style="margin-bottom:1rem !important;">
                <div class="column left">
                  <em>to</em>
                </div>
                <div class="column right">
                  {% if key == "url" %}
                    <a
                      href="{{ value }}"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {{ value }}
                    </a>
                  {% else %}
                    {{ value }}
                  {% endif %}
                </div>
              </div>
            {% else %}
            <em>from</em> {{ old_state[key] }} <em>to</em> {{ value }}
            {% endif %}
            <br/>
          {% endfor %}
        </div>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
