{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_share %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {{ banner_share('Unsubscription Alert') }}
      <div class="main-content">
        <h2>Hello {{ name }},</h2>
        <p>
          The user
          <strong><a
            href="mailto:{{ user_email }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ user_email -}}
          </a></strong> unsubscribed from the group
          <strong>{{ group_name }}</strong> {{ report_date }}.
        </p>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
