attrs==23.1.0
boto3==1.26.131
botocore==1.29.131
cloudpickle==2.2.1
contextlib2==21.6.0
dill==0.3.6
google-pasta==0.2.0
imbalanced-learn==0.10.1
importlib-metadata==4.13.0
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.3
numpy==1.24.3
packaging==23.1
pandas==2.0.2
pathos==0.3.0
platformdirs==3.5.1
pox==0.3.2
ppft==1.7.6.6
protobuf==3.20.3
protobuf3-to-dict==0.1.5
psycopg2-binary==2.9.6
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
sagemaker==2.163.0
schema==0.7.5
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
smdebug-rulesconfig==1.0.1
tblib==1.7.0
threadpoolctl==3.1.0
tzdata==2023.3
urllib3==1.26.12
xgboost==1.7.0
zipp==3.15.0
