/**/google-services.json
/**/*.css.d.ts
/**/geckodriver.log
/**/node_modules
/**/results_pdf/*.pdf
/*.xlsx
/.Cache
/.DB
/back/deploy/permissions_matrix/**/*.html
/charts/collector/**/*.png
/charts/generators/**/*.json
/charts/generators/**/*.csv
/app
/build
back/src/reports/tpls/*.tpl
db/.data/
coverage.xml
.coverage.*
/front/coverage
/back/test/e2e/src/.coverage
/back/test/load/dist
/back/test/e2e/src/screenshots
/front/src/utils/translations/en.json
