    <div class="end-content">
      <p><strong>Fluid Attacks</strong></p>
      <p>
        <br />
        Contact us at
        <a
          href="mailto:help@fluidattacks.com"
          target="_blank"
          rel="noopener noreferrer"
        >help@fluidattacks.com</a>
        if you have any questions.
      </p>
    </div>
    <div class="footer-div"></div>
      <div class="flex w-50 justify-center">
        <a
          class="pa1 justify-center"
          href="https://www.linkedin.com/company/fluidattacks/"
          rel="noopener noreferrer"
          target="_blank"
        >
          <img
            alt="LinkedIn"
            src="https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/2059808d-b0a9-1a75-9eea-fe8246c9b034.png"
            style="display:block;" height="32" width="32"
          >
        </a>
        <a
          class="pa1 justify-center"
          href="https://twitter.com/fluidattacks"
          rel="noopener noreferrer"
          target="_blank"
        >
          <img
            alt="twitter"
            src="https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/b3a8648c-1759-ff78-9a25-61dbecd502d1.png"
            style="display:block;" height="32" width="32"
          >
        </a>
        <a
          class="pa1 justify-center"
          href="https://www.youtube.com/c/fluidattacks/"
          rel="noopener noreferrer"
          target="_blank"
        >
          <img
            alt="youtube"
            src="https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/4bb70a54-ebaa-792e-b8d3-19d16d4d241c.png"
            style="display:block;" height="32" width="32"
          >
        </a>
        <a
          class="pa1 justify-center"
          href="https://www.instagram.com/fluidattacks/"
          rel="noopener noreferrer"
          target="_blank"
        >
          <img
            alt="instagram"
            src="https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/a2d4a1c1-bd30-8a69-f6ea-a5563b922f7b.png"
            style="display:block;" height="32" width="32"
          >
        </a>
        <a
          class="pa1 justify-center"
          href="https://www.facebook.com/Fluid-Attacks-267692397253577/"
          rel="noopener noreferrer"
          target="_blank"
        >
          <img
            alt="facebook"
            src="https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/bc74726a-d2e1-e09e-9795-1ec2b23cc192.png"
            style="display:block;" height="32" width="32"
          >
        </a>
        <a
          class="pa1 justify-center"
          href="https://fluidattacks.com/"
          rel="noopener noreferrer"
          target="_blank"
        >
          <img
            alt="fluidLink"
            src="https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/42132968-b340-4e10-8166-152b0a4d1ce4.png"
            style="display:block;" height="32" width="32"
          >
        </a>
      </div>
      {% if not empty_notification_notice %}
      <div class="footer-content">
        Notifications are an excellent way for you to have an up-to-date understanding
        of the activity concerning your system's vulnerabilities and your groups on
        the Fluid Attacks' Platform. You can manage your notifications preferences from
        <a
          href="https://app.fluidattacks.com/user/config"
          target="_blank"
          rel="noopener noreferrer"
          style="color: #8f8fa3 !important"
        >here</a>.
        There you can press the On/Off button to accept or reject the delivery of
        each notification to your registered email.
      </div>
      {% endif %}
