{% macro go_to_button(text, url, type) -%}
        <div class="flex justify-center">
          <a
            class="main-button {{ type }}"
            title="{{ text }}"
            href="{{ url }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ text }}
          </a>
        </div>
{% endmacro %}

{% macro banner(icon) -%}
      <div class="body-title">
        <img
          alt="Banner custom icon"
          class="title-icon-container"
          src="{{ icon }}"
        />
        <span class="title-text"> {{ caller() }} </span>
      </div>
{% endmacro %}

{% macro banner_bell(text) %}
{% call banner(
  'https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/c2d09987-324c-6f93-c558-ecd30676ab51.png'
  ) %}
  {{- text -}}
  {% endcall %}
{% endmacro %}

{% macro banner_plane(text) %}
{% call banner(
  'https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/58b8ad9f-b115-0907-402f-99c25ef8fdc9.png'
  ) %}
  {{- text -}}
  {% endcall %}
{% endmacro %}

{% macro banner_magnifying(text) %}
{% call banner(
  'https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/c1cb0e47-ccba-2baf-ce32-462cb9788f74.png'
  ) %}
  {{- text -}}
  {% endcall %}
{% endmacro %}

{% macro banner_share(text) %}
{% call banner(
  'https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/f8683009-5f14-c8f6-bf1d-0ea584251404.png'
  ) %}
  {{- text -}}
  {% endcall %}
{% endmacro %}
